<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="mat-mdc-card-header px-2">
          <h1 class="text-uppercase fw-bold mat-mdc-card-title-text">
            Események
          </h1>
        </mat-card-title>
        <div>
          <button
            mat-raised-button
            color="primary"
            (click)="createButtonClick()"
          >
            Esemény létrehozása
          </button>
        </div>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div class="list-table">
        <table mat-table [dataSource]="events">
          <ng-container matColumnDef="id">
            <th class="min-widt-20" mat-header-cell *matHeaderCellDef>
              Azonosító
            </th>
            <td
              class="min-width-20"
              mat-cell
              [routerLink]="['/events/', element.id]"
              *matCellDef="let element"
            >
              {{ element.id }}
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th class="min-widt-10" mat-header-cell *matHeaderCellDef>Név</th>
            <td
              class="min-width-10"
              mat-cell
              [routerLink]="['/events/', element.id]"
              *matCellDef="let element"
            >
              {{ element.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="location">
            <th class="min-widt-10" mat-header-cell *matHeaderCellDef>
              Helyszín
            </th>
            <td
              class="min-width-10"
              mat-cell
              [routerLink]="['/events/', element.id]"
              *matCellDef="let element"
            >
              {{ element.location }}
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th class="min-widt-10" mat-header-cell *matHeaderCellDef>
              Helyszín
            </th>
            <td class="min-width-10" mat-cell *matCellDef="let element">
              <button
                mat-raised-button
                color="primary"
                type="submit"
                (click)="deleteButtonClick(element)"
              >
                Törlés
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            class="cursor-pointer"
            mat-row
            *matRowDef="let row; columns: displayedColumns"
          ></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
