<div class="container">
  <form [formGroup]="eventForm">
    <div class="row">
      <mat-card appearance="raised">
        <mat-card-header class="mat-mdc-card-header">
          <mat-icon
            fontIcon="create"
            color="primary"
            class="me-3 mr-3"
          ></mat-icon>
          <mat-card-title
            ><h1 class="text-uppercase fw-bold mat-mdc-card-title-text">
              Esemény információk
            </h1></mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <div class="inputs">
            <div class="input-div">
              <mat-form-field appearance="outline">
                <mat-label>Név</mat-label>
                <input name="location" matInput formControlName="location" />
              </mat-form-field>
            </div>
            <div class="input-div">
              <mat-form-field appearance="outline">
                <mat-label>Helyszín</mat-label>
                <input name="firstName" matInput formControlName="name" />
              </mat-form-field>
            </div>
            <div class="input-div">
              <mat-form-field appearance="outline">
                <mat-label>Ország</mat-label>
                <input name="country" matInput formControlName="country" />
              </mat-form-field>
            </div>
            <div class="input-div">
              <mat-form-field appearance="outline">
                <mat-label>Kapacitás</mat-label>
                <input
                  name="capacity"
                  type="number"
                  matInput
                  formControlName="capacity"
                />
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="button-div">
      <button
        mat-raised-button
        class="text-uppercase"
        [disabled]="eventForm.invalid || !eventForm.dirty"
        type="submit"
        (click)="submitForm()"
        color="primary"
      >
        Mentés
      </button>
    </div>
  </form>
</div>
